

body {
    padding-top: 30px;
    display: grid;
    grid-template-rows: 40fr ;
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 20px;
    align-content: center;
}

.fileField {
    background-color: rgb(242, 242, 242)

}

.mainMenu {

    grid-column: 1/3;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    padding-top: 5px;
    background-color: white;
    z-index: 400;
}


/* child of fileField
    holds the path input box and back button */
div.header {
    display:grid;
    grid-template-columns: 50px 40px 11fr;
    height: 30px;
    align-items: center;
    padding-left: 0.7em;
    padding-bottom: 0px;
    padding-right: 10px;
    margin-bottom: 0px;
    grid-column: 1/3;
}

section.controlPanel > div {
    position: fixed;

}

/* list that holds the files */
ul.fileList  {
    padding: 0px;
    margin-right: 10px;
    height:100%;
    padding-left: 0px;
    margin-left: 2.8em;
    list-style-type: none;
}

/* targets the files in the file List */
ul.fileList > li {
    width:100%;
    display:grid;
    grid-template-columns: 0.1fr 2fr 1fr;
    padding-bottom :1px;
    padding-top: 1px;
    padding-right:3px;
    padding-left: 3px;
    /* padding-left: 5px; */
}

ul.fileList > li > span:nth-child(3) {
    justify-self: end;
}

div.columnHeader {
    width:100%;
    display:grid;
    grid-template-columns:  2fr .6fr ;
    padding-bottom :1px;
    padding-top: 1px;
    padding-left: 3em;
}
div.columnHeader > span:nth-child(2) {
    /* justify-self: begin; */
}

li.fileEntry:hover{
    background-color: rgb(0, 182, 58);
    cursor: pointer;
    color:white;

}



.fileDate{
    padding-left: 5px;
    padding right:5px;
}

img {
    height:20px;

    padding-right:5px;

}

span {
    overflow:hidden;
}

#contextMenu{
    display: none;
    list-style-type: none;
    position: absolute;
    background: grey;
    z-index: 100;
    width: 100px;
    padding: 3px;

    justify-content: center;
    align-items: center;

}

#contextMenu > div, .topMenu > span {
    background-color: white;

    padding:3px;

}

#contextMenu > div:hover, .topMenu >span:hover {
    color:white;
    background-color: rgb(0, 182, 58);
    cursor: pointer;

}

.rightHandMenu > div {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.rightHandMenu > div:hover {
    color:white;
    background-color: rgb(0, 182, 58);
    cursor: pointer;

}


#contextMenu > div:focus {
    display: none;
}

ul.header{

}

.backButton {
    padding-right: 1.5em;
}


.tabBar {
    display:flex;
    flex-direction: row;
    background-color: white;
}

.tabBar > span {
    background-color: rgb(0, 1, 115);
    color:white;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.tabBar > span:hover {
    background-color: rgb(40, 0, 182);
    cursor: pointer;
}
