

ul.fileList  {
    height:100%;

    list-style-type: none;
}

ul.fileList li {
    width:100%;
    display:grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    padding-bottom :1px;
    padding-top: 1px;
    padding-left: 5px;
}

div.columnHeader {
    width:100%;
    display:grid;
    grid-template-columns:  1.1fr 1fr 1fr;
    padding-bottom :1px;
    padding-top: 1px;
    padding-left: 5px;
}

li.fileEntry:hover{
    background-color: rgb(0, 182, 58);
    cursor: pointer;
    color:white;

}

.fileDate{
    padding-left: 5px;
    padding right:5px;
}

img {
    height:20px;

    padding-right:5px;

}

span {
    overflow:hidden;
}

ul.contextmenu{
    visibility: hidden;
    position: absolute;
}

ul.header{
    
}

#backButton {
    padding-right: 1.5em;
}
