

ul.fileList {
    height:100%;

    list-style-type: none;
}

li {
    width:100%;
    display:grid;
    grid-template-columns: 0.1fr 1fr 1fr;
}

.fileDate{
    padding-left: 5px;
    padding right:5px;
}

img {
    height:20px;

    padding-right:5px;

}

span {
    overflow:hidden;
}
